[Unit]
Description=RClone Service
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
Environment=RCLONE_CONFIG=/opt/rclone/rclone.conf
KillMode=none
RestartSec=5
ExecStart=/usr/bin/rclone --vfs-cache-mode writes mount \"onedrive":  /media/Onedrive
Restart=on-failure
User=felix
Group=felix

[Install]
WantedBy=multi-user.target
