[Unit]
Description=rtorrent daemon
Wants=network-online.target
After=network-online.target
Requires=media.service

[Service]
Type=simple
KillMode=process
Restart=on-failure
RestartSec=30
User=felix
Group=felix
ExecStart=/usr/bin/rtorrent -o system.daemon.set=true
ExecStartPost=/usr/bin/ionice -c2 -n4 -p $MAINPID
ExecStartPost=/usr/bin/renice +10 -p $MAINPID

[Install]
WantedBy=multi-user.target

